[2019-04-13 13:52] ThomasKranitsas opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-04-13 14:54] ThomasKranitsas commented on #1
In case you don't have access to self-assign on tickets, check the challenge forum for a link to get access.

[2019-04-13 15:06] ThomasKranitsas opened #2 "[$120] Improve animations"
Currently, there’s no clear sense of switching between BUSINESS and WORK, which is a bit confusing.

Update the transition animation based on the screencast below.

The main content section is out of scope.

[Unified platform Navigation 2.mp4.zip](https://github.com/topcoder-platform/community-nav-prototype/files/3076354/Unified.platform.Navigation.2.mp4.zip)

[2019-04-13 15:07] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30088520 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 15:08] ThomasKranitsas opened #3 "[$30] Fix spacing between BUSINESS and the other elements"
**Describe the bug**
The spacing between BUSINESS and the other elements is doubled (2 margins of 30px) vs specification

**Expected behavior**
Spacing should match the specification

**Screenshots**
![image](https://user-images.githubusercontent.com/4612921/56081531-115bd300-5e17-11e9-8d4a-9aa5ed87f61e.png)

[2019-04-13 15:09] ThomasKranitsas commented on #3
Contest https://www.topcoder.com/challenges/30088521 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 15:16] ThomasKranitsas opened #4 "[$40] Secondary nav is visible even if there is no content"
**Describe the bug**
See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click `BUSINESS` or `WORK`
3. See issue

**Expected behavior**
- There should be no secondary menu.
- The selected icon should still be visible even if the secondary menu is not.

**Screenshots**
<img width="1455" alt="Screenshot 2019-04-13 at 18 10 48" src="https://user-images.githubuserconte

[2019-04-13 15:17] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30088522 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 15:19] ThomasKranitsas opened #5 "[$30] Active element on secondary nav should not have underline"
**Describe the bug**
When you click on any item on the secondary nav, the gray bar is visible under the green bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on any item of the secondary nav
3. See error

**Expected behavior**
The active element should not have the gray bar on `hover`

**Device:**
- Desktop
- Tablet

[2019-04-13 15:20] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30088523 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 15:27] ThomasKranitsas opened #6 "[$80] User info section is not up to spec"
**Describe the bug**
The user info section is not up to spec

**Expected behavior**
The normal state of the user info section should be this:
<img width="889" alt="Screenshot 2019-04-13 at 18 23 25" src="https://user-images.githubusercontent.com/4612921/56081746-46692500-5e19-11e9-8da2-be254cc907f5.png">

On hover, it should expand to show the user's username (which has the background color) like

[2019-04-13 15:28] ThomasKranitsas commented on #6
Contest https://www.topcoder.com/challenges/30088524 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:03] ThomasKranitsas opened #7 "[$70] Menu from "More" is not dismissed after selecting item"
**Describe the bug**
Clicking a first level menu shows a 2nd level menu with options - that is correct. However, it should dismiss the More menu dropdown - this is not happening

**To Reproduce**
Steps to reproduce the behavior:
1. Shrink the browser window to be able to see the `More` dropdown menu
2. Click on `More` from the primary menu
3. Select any item from the dropdown
4. See error

**Expec

[2019-04-13 16:04] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30088525 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:08] liqiang372 commented on #2
I'll take this one

[2019-04-13 16:08] ThomasKranitsas opened #8 "[$120] Fix warnings and errors from W3C Validator"
The code should not have any warnings or errors.

From the reviewer:

- https://cl.ly/ff9a2a35c43c
- https://cl.ly/32a32023d0cf
- https://cl.ly/886bbd0ffdc1

[2019-04-13 16:09] applehit16 commented on #2
I'll take this one

[2019-04-13 16:09] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30088526 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:10] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30088520 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:10] sumitdaga commented on #8
@ThomasKranitsas
i still can't assign issue to myself ...can you assign it to me ?

[2019-04-13 16:12] ThomasKranitsas opened #9 "[$70] Update method documentation"
From the challenge review:
[code]

Check all JS code and make sure all methods have proper documentation.

[2019-04-13 16:12] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30088526 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:13] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30088527 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:13] ThomasKranitsas commented on #8
sorry about that! I forgot to add the `topcodercompetitors` group here 😛

[2019-04-13 16:15] applehit16 commented on #9
I'll take this one

[2019-04-13 16:15] applehit16 commented on #2
plz unassign me from this

[2019-04-13 16:16] ThomasKranitsas opened #10 "[$40] Change breakpoints"
**Describe the bug**
Currently, there are some issues in small tablet screen sizes.

**Expected behavior**
Change the breakpoints so the mobile layout is applied for screen sizes < 768px

**Screenshots**
<img width="668" alt="Screenshot 2019-04-13 at 19 16 09" src="https://user-images.githubusercontent.com/4612921/56082351-a1eae100-5e20-11e9-94d6-7e84019d96d5.png">
<img width="668" alt="Screenshot

[2019-04-13 16:17] iversonLv commented on #3
I wanna take this.

Thanks.

[2019-04-13 16:17] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30088528 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:18] ThomasKranitsas commented on #3
@iversonLv added you as a collaborator. Please accept the invitation so you can self-assign

[2019-04-13 16:18] ThomasKranitsas commented on #3
Contest https://www.topcoder.com/challenges/30088521 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:19] ThomasKranitsas commented on #2
@applehit16 you should now have access to assign/unassign by yourself ;)

[2019-04-13 16:19] ThomasKranitsas commented on #9
@applehit16 you should have access to self-assign

[2019-04-13 16:20] rashmi73 commented on #7
@ThomasKranitsas please assign this to me. kindly note this has been taken, but not able to assign myself

[2019-04-13 16:20] applehit16 commented on #2
@ThomasKranitsas I still can't edit the assignee

[2019-04-13 16:20] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30088520 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:20] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30088525 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:22] PrakashDurlabhji commented on #4
@ThomasKranitsas  I am not able to assign this to myself. would like to work on it.

[2019-04-13 16:22] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30088522 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:23] ThomasKranitsas commented on #1
@topcoder-platform/topcodercompetitors you should now all have access to edit the `assignee`.

Sorry about that. This is a new repo so I had to set everything up from scratch

[2019-04-13 16:23] PrakashDurlabhji commented on #4
@ThomasKranitsas cant we assign ourselves from nowon?

[2019-04-13 16:23] ThomasKranitsas commented on #4
yes, I've fixed it

[2019-04-13 16:25] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30088523 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:26] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30088528 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:29] iversonLv commented on #3
@ThomasKranitsas Seems the label can't be updated by me.

[2019-04-13 16:30] ThomasKranitsas commented on #3
Fixed

[2019-04-13 16:30] #3 closed

[2019-04-13 16:30] ThomasKranitsas commented on #6
Contest https://www.topcoder.com/challenges/30088524 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:31] ThomasKranitsas commented on #3
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088521<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:31] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30088527 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:32] ThomasKranitsas opened #13 "[$20] Follow up for pull/11"
https://github.com/topcoder-platform/community-nav-prototype/pull/11

[2019-04-13 16:32] gurmeetb commented on #1
@ThomasKranitsas can we restrict ppl access who are assigning more than 1 ticket at a time ? This is against rules, and knowingly they are breaking it?

[2019-04-13 16:32] liqiang372 commented on #9
@ThomasKranitsas I still don't,  @gurmeetb I think I commented first

[2019-04-13 16:33] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30088529 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:34] sumitdaga commented on #8
PR at #12

[2019-04-13 16:34] ThomasKranitsas commented on #1
@topcoder-platform/topcodercompetitors please always check if someone is already working on the ticket you're trying to pick up and never pick up more than 1 tickets at a time.

Everyone who's not following the rules will be removed from this bug bash.

Thank you!

[2019-04-13 16:34] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30088529 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:34] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30088529 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:35] gurmeetb commented on #9
@applehit16 I see you commented before me but I assigned myself. Are you still waiting for a ticket? If yes, let me know and I will open this for you.

[2019-04-13 16:35] ThomasKranitsas commented on #1
There will be more tickets available soon.

Also, feel free to open new tickets for any bugs you see in the app.
Both code quality issues, functional and UI issues are in scope

[2019-04-13 16:35] sumitdaga commented on #1
@gurmeetb
just to clarify i raised an MR and then only assigned myself another ticket ..i just forgot to add `ready_for_review` tag

[2019-04-13 16:36] applehit16 commented on #9
@gurmeetb Hi, sorry, I already commented that I want to unassign myself from that animation ticket, but back then I don't have permission to edit. I'm already working on this, it would be kind of you to re-assign to me, thx!

[2019-04-13 16:37] #8 closed

[2019-04-13 16:37] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30088520 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:37] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30088527 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:37] ThomasKranitsas commented on #8
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088526<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 16:42] #13 closed

[2019-04-13 16:42] ThomasKranitsas commented on #13
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088529<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:04] ThomasKranitsas opened #16 "[$20] BUSINESS is not properly spaced from WORK"
**Describe the bug**
See title.
I think this is a side-effect of #3

**Expected behavior**
Should match the design

**Screenshots**
<img width="1387" alt="Screenshot 2019-04-13 at 20 03 22" src="https://user-images.githubusercontent.com/4612921/56082921-4a9c3f00-5e27-11e9-9daf-6ceb1546241f.png">

[2019-04-13 17:05] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30088532 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:06] #16 closed

[2019-04-13 17:06] ThomasKranitsas commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088532<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:07] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30088532 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:07] iversonLv commented on #16
FYI:
![image](https://user-images.githubusercontent.com/4952611/56082955-995ece80-5e51-11e9-8dbd-c61f9964aa6d.png)

[2019-04-13 17:08] iversonLv commented on #16
PR: https://github.com/topcoder-platform/community-nav-prototype/pull/15
For trace, reference here

[2019-04-13 17:12] sumitdaga commented on #6
@ThomasKranitsas
before hover the user image will show right (and not the letter V) ?

[2019-04-13 17:13] ThomasKranitsas commented on #6
Correct

[2019-04-13 17:18] iversonLv opened #18 "[$20] Hover on header notification icon should change to a pointer"
**Describe the bug**
Hover on header notification icon should change to a pointer indicating that it's clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/dark' or 'http://localhost:3000/light'
2. Move mouse on the header right side notification icon, it's a default mouse cursor

**Expected behavior**
A clickable item would better show the mouse pointer cu

[2019-04-13 17:20] ThomasKranitsas commented on #18
Contest https://www.topcoder.com/challenges/30088533 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:20] ThomasKranitsas commented on #18
Contest https://www.topcoder.com/challenges/30088533 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:21] ThomasKranitsas commented on #18
Contest https://www.topcoder.com/challenges/30088533 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 17:40] iversonLv opened #20 "[$30] Desktop web browser: Avatar size should be fixed on Desktop"
**Describe the bug**
Avatar on header should fix size both for desktop no matter how bigger size image upload by the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/dark' or 'http://localhost:3000/light'
2. Replace header avatar with bigger size image

**Expected behavior**
The avatar size should be fixed.

**Screenshots**
Desktop broken:
![image](https://u

[2019-04-13 18:33] #9 closed

[2019-04-13 18:34] ThomasKranitsas commented on #9
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088527<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:34] iversonLv commented on #20
I think I am the first one?

[2019-04-13 18:34] iversonLv commented on #20
@ThomasKranitsas @applehit16

[2019-04-13 18:34] applehit16 commented on #20
@iversonLv sorry, I think you are admin...

[2019-04-13 18:34] iversonLv commented on #20
Thanks.

[2019-04-13 18:34] ThomasKranitsas commented on #20
2 seconds faster 😛

[2019-04-13 18:35] ThomasKranitsas commented on #20
Contest https://www.topcoder.com/challenges/30088534 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:35] ThomasKranitsas commented on #20
Contest https://www.topcoder.com/challenges/30088534 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:35] ThomasKranitsas commented on #20
Contest https://www.topcoder.com/challenges/30088534 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:36] ThomasKranitsas commented on #20
Contest https://www.topcoder.com/challenges/30088534 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:36] iversonLv commented on #20
@ThomasKranitsas BTW, do you want me update extra feature as well?
Default desktop avatar is not circle style
I think avatar should be?
![image](https://user-images.githubusercontent.com/4952611/56083918-09735180-5e5e-11e9-9dd4-9d3534ec68d7.png)

[2019-04-13 18:36] ThomasKranitsas commented on #20
Contest https://www.topcoder.com/challenges/30088534 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:36] #18 closed

[2019-04-13 18:37] ThomasKranitsas commented on #18
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088533<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 18:37] ThomasKranitsas commented on #20
Yes, please

[2019-04-13 18:42] sumitdaga commented on #6
@ThomasKranitsas
not sure what kind of animation is possible here ...since the width depends on username ...expanding the width (since its not some fixed value) smoothly may not be possible without using some javascript!

[2019-04-13 18:53] ThomasKranitsas commented on #6
you can ignore the animation for now... we may get some designs for that later and handle them on another ticket

[2019-04-13 18:59] #20 closed

[2019-04-13 19:00] ThomasKranitsas commented on #20
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088534<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:00] rashmi73 commented on #7
@ThomasKranitsas this issue has been solved, also more menu button does not hide when secondary-level more menus are clicked. can you please increase prize by few to cover that too?

[2019-04-13 19:00] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30088525 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:00] ThomasKranitsas commented on #7
Better now?

[2019-04-13 19:02] rashmi73 commented on #7
@ThomasKranitsas thanks

[2019-04-13 19:05] iversonLv opened #23 "[$30] Desktop: User info popup button Switch To Business/Switch To Work function"
**Describe the bug**
Open person user info popup, there is a button 'Switch to BUSINESS'
I think if navigation at BUSINESS, the button should be 'Switch to WORK'
if navigation is at WORK, it's 'Switch to BUSINESS'

And click it should toggle navigation between BUSINESS and WORK.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/dark' or 'http://localhost:3000/dark'

[2019-04-13 19:09] ThomasKranitsas commented on #23
Contest https://www.topcoder.com/challenges/30088535 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:09] ThomasKranitsas commented on #23
Contest https://www.topcoder.com/challenges/30088535 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:10] ThomasKranitsas commented on #23
Contest https://www.topcoder.com/challenges/30088535 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:11] rashmi73 commented on #7
@ThomasKranitsas ready https://github.com/topcoder-platform/community-nav-prototype/pull/24

[2019-04-13 19:13] #7 closed

[2019-04-13 19:13] ThomasKranitsas commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088525<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:15] rashmi73 commented on #7
@ThomasKranitsas  more open for pickup soon?

[2019-04-13 19:16] ThomasKranitsas commented on #7
perhaps. Feel free to open new tickets if you see any issues

[2019-04-13 19:22] #6 closed

[2019-04-13 19:22] ThomasKranitsas commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088524<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 19:27] rashmi73 opened #26 "Desktop: "WORK" and "LOGIN" buttons are too much towards right.hence work button touching the right border"
**Describe the bug**
On desktop, "WORK" and "LOGIN" buttons are too much towards right.hence work button touching the right border

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/dark' or 'http://localhost:3000/light'
2. Observe on top right buttons

**Expected behavior**
should be centered mostly

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-04-13 19:29] rashmi73 commented on #26
@ThomasKranitsas sorry it is already solved

[2019-04-13 19:29] #26 closed

[2019-04-13 19:29] ThomasKranitsas commented on #26
@rashmi73 can you please upload a screenshot?

[2019-04-13 19:29] ThomasKranitsas commented on #26
ah, ok

[2019-04-13 19:38] rashmi73 opened #27 "Clicking on left upper topcoder logo should referesh the page to the start"
**Describe the bug**
Clicking on left upper topcoder logo should referesh the page to the start

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/light' or 'http://localhost:3000/light'
2. Click on 'left upper logo'
3. Nothing happens
4. See error

**Expected behavior**
Should select "BUSINESS" tab

**Screenshots**
If applicable, add screenshots to help explain you

[2019-04-13 19:48] ThomasKranitsas commented on #27
This will be handled in #2

[2019-04-13 19:48] #27 closed

[2019-04-13 20:32] PrakashDurlabhji commented on #4
@ThomasKranitsas PR https://github.com/topcoder-platform/community-nav-prototype/pull/28

[2019-04-13 20:36] iversonLv commented on #23
@ThomasKranitsas According to the function feature between navigation <- -> user info popup
Could you please raise the payment to $50?

[2019-04-13 20:36] iversonLv commented on #23
I update the navigation item reflect the user info popup switch item as well.

[2019-04-13 21:38] #23 closed

[2019-04-13 21:39] ThomasKranitsas commented on #23
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088535<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-13 22:21] PrakashDurlabhji commented on #4
@ThomasKranitsas done updated

[2019-04-14 05:45] gurmeetb commented on #2
@thomaskranitsas i see all blank pages, does this also serve pages from Contentful ?

[2019-04-14 08:10] gurmeetb commented on #2
doing final round of testing making sure all from video color are matched, will send MR in 2-3 hrs max.

[2019-04-14 08:46] ThomasKranitsas commented on #2
@gurmeetb don't worry about the colors. Just implement the animation

[2019-04-14 09:56] #4 closed

[2019-04-14 09:57] ThomasKranitsas commented on #4
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088522<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 10:54] ThomasKranitsas commented on #5
what's the status here?

[2019-04-14 10:54] ThomasKranitsas commented on #10
what's the status here?

[2019-04-14 11:02] Gauravseta commented on #5
@ThomasKranitsas just 15 minutes

[2019-04-14 11:03] ThomasKranitsas commented on #5
thanks

[2019-04-14 11:05] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30088528 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 11:44] Gauravseta commented on #5
@ThomasKranitsas Pr https://github.com/topcoder-platform/community-nav-prototype/pull/30

[2019-04-14 11:55] #5 closed

[2019-04-14 11:55] ThomasKranitsas commented on #5
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088523<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 12:05] rashmi73 commented on #10
@ThomasKranitsas please check https://github.com/topcoder-platform/community-nav-prototype/pull/32

[2019-04-14 12:09] #10 closed

[2019-04-14 12:10] ThomasKranitsas commented on #10
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088528<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 14:15] #2 closed

[2019-04-14 14:16] ThomasKranitsas commented on #2
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088520<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 14:55] ThomasKranitsas opened #33 "[$20] Spacing issue on mobile"
**Describe the bug**
On mobile, the spacing between BUSINESS/WORK/MORE is wrong.

**Expected behavior**
Spacing should be evenly distributed

**Screenshots**
<img width="512" alt="Screenshot 2019-04-14 at 17 53 23" src="https://user-images.githubusercontent.com/4612921/56094623-5991f880-5ede-11e9-9aa6-7adb189e55f5.png">

**Devices:**
- Mobile

[2019-04-14 14:57] ThomasKranitsas commented on #33
Contest https://www.topcoder.com/challenges/30088546 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 14:58] ThomasKranitsas commented on #33
Contest https://www.topcoder.com/challenges/30088546 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:07] iversonLv commented on #33
@ThomasKranitsas Is it fine?
![image](https://user-images.githubusercontent.com/4952611/56094883-e69e7700-5f09-11e9-8345-c0fed6893c98.png)

[2019-04-14 15:08] ThomasKranitsas commented on #33
Looks good to me.

How does it look when it's selected?

[2019-04-14 15:11] iversonLv commented on #33
![image](https://user-images.githubusercontent.com/4952611/56094975-a5f32d80-5f0a-11e9-9e74-dc0843991824.png)
Ok, need to update the selected as well.
Updating now.

[2019-04-14 15:12] ThomasKranitsas commented on #33
check here: https://monosnap.com/file/KdcrQrsVhYCyh8NsosVTbXamw2SdiC

[2019-04-14 15:13] ThomasKranitsas commented on #33
can you also fix the logo which "jumps" please? I'll bump up the price a bit

[2019-04-14 15:31] iversonLv commented on #33
1 fixed selected and normal state for navigation item.
2 update "jumps" logo
[![Screenshot from Gyazo](https://gyazo.com/89eb18bc5c7c4686eb8cdb1f481ebc26/raw)](https://gyazo.com/89eb18bc5c7c4686eb8cdb1f481ebc26)

[2019-04-14 15:31] #33 closed

[2019-04-14 15:32] ThomasKranitsas commented on #33
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088546<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:34] ThomasKranitsas opened #35 "[$80] Weird behavior when you resize the window"
**Describe the bug**
If I play around resizing the browser window while changing the selected item, the layout acts kinda weird.

See screenshots below for more details

**Screenshots**
<img width="1772" alt="Screenshot 2019-04-14 at 18 32 03" src="https://user-images.githubusercontent.com/4612921/56095298-e9867100-5ee3-11e9-9b68-788f1a205ecf.png">
<img width="1782" alt="Screenshot 2019-04-14 at 1

[2019-04-14 15:37] ThomasKranitsas commented on #35
Contest https://www.topcoder.com/challenges/30088548 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:39] iversonLv commented on #35
Win10 Chrome seems fine:
[![Screenshot from Gyazo](https://gyazo.com/8583d369768b5955cff667cd1c811bd7/raw)](https://gyazo.com/8583d369768b5955cff667cd1c811bd7)

[2019-04-14 15:40] ThomasKranitsas commented on #35
Contest https://www.topcoder.com/challenges/30088548 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:44] iversonLv opened #36 "[$40] Page is broken at some viewport after hover on person avatar"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/dark' or 'http://localhost:3000/light'
2. Click on 'login' to show the logined user
3. Navigation to 'BUSINESS'
3. Hover on the avatar to show the full name

My viewport: 875px but I found there are still some, the problem is if the viewport does not hide the sub-navigation to more dropdown, the issue will be occured

[2019-04-14 15:45] iversonLv commented on #36
Hover on the avatar to show name lead some bug, possible to revert it?

[2019-04-14 15:46] ThomasKranitsas commented on #35
I used the latest Chrome on Mac. It happens after you play around for some time.

Eg, make the window small, change selected item, make it big, change the selected item again, repeat until you see the issue

[2019-04-14 15:46] ThomasKranitsas commented on #36
Contest https://www.topcoder.com/challenges/30088549 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:46] ThomasKranitsas commented on #36
Unfortunately, we need it

[2019-04-14 15:46] ThomasKranitsas commented on #36
Contest https://www.topcoder.com/challenges/30088549 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 15:55] iversonLv opened #37 "[$40] Switch to BUSINESS/WORK now not display arrow unless default select navi BUSINESS/WORK ITEM"
**Screenshots**
[![Screenshot from Gyazo](https://gyazo.com/dcd7a66fb3645c2132e039377f5c1447/raw)](https://gyazo.com/dcd7a66fb3645c2132e039377f5c1447)

[2019-04-14 16:04] ThomasKranitsas commented on #36
Contest https://www.topcoder.com/challenges/30088549 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:07] ThomasKranitsas commented on #37
Contest https://www.topcoder.com/challenges/30088550 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:07] ThomasKranitsas commented on #37
Contest https://www.topcoder.com/challenges/30088550 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:08] iversonLv commented on #37
@ThomasKranitsas
https://github.com/topcoder-platform/community-nav-prototype/issues/33
**You said: can you also fix the logo which "jumps" please? I'll bump up the price a bit**
But the ticket payment is not updated, could you bump here if I fixed this?
Thanks.

[2019-04-14 16:08] ThomasKranitsas commented on #37
Contest https://www.topcoder.com/challenges/30088550 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:08] ThomasKranitsas commented on #37
Contest https://www.topcoder.com/challenges/30088550 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:09] ThomasKranitsas commented on #37
Sorry about that! I forgot to update it 🤦‍♂️

[2019-04-14 16:16] iversonLv commented on #37
@ThomasKranitsas Do you want to hide 'Switch to...' by default because default there is no level-1 navigation item is selected
![image](https://user-images.githubusercontent.com/4952611/56095865-a0e6ac00-5f13-11e9-9a3c-ca0c5a4ffe16.png)

[2019-04-14 16:16] ThomasKranitsas commented on #37
Nah, don't worry about that

[2019-04-14 16:20] gets0ul commented on #36
@iversonLv
Can you show some screencast/video? Thanks.

[2019-04-14 16:20] iversonLv commented on #37
Ok, then I fixed current function.
We could update if need in the future.
One more question:
Now no navigation is selected, so I think "Switch to BUSINESS" will be more proper because yeaster ticket, default is business, so "Switch to Work"
Does it make sense?
Thanks.
![image](https://user-images.githubusercontent.com/4952611/56095924-32eeb480-5f14-11e9-9403-d9820384de8e.png)

[2019-04-14 16:37] iversonLv commented on #36
@gets0ul
Some, need test carefully.
Try 1235px viewports wide.
You could try some viewports that last sub navigation item show/hide in more dropdown.
![image](https://user-images.githubusercontent.com/4952611/56096113-8104b780-5f16-11e9-8e69-8f38e487761a.png)

[2019-04-14 16:39] ThomasKranitsas commented on #36
@gets0ul the behaviour should be similar with when you shrink the window and there's no enough space to fit everything

[2019-04-14 16:40] ThomasKranitsas commented on #37
yes, makes perfect sense

[2019-04-14 16:43] #37 closed

[2019-04-14 16:44] ThomasKranitsas opened #39 "[$15] Fix switch to BUSINESS/WORK section"
### Required fixes:
- The whole section must be clickable, not only the text
- The `BUSINESS/WORK` text should not be ALL-CAPS

[2019-04-14 16:44] ThomasKranitsas commented on #37
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088550<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:46] ThomasKranitsas commented on #39
Contest https://www.topcoder.com/challenges/30088551 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 16:48] ThomasKranitsas commented on #39
@topcoder-platform/topcodercompetitors new one open for pickup

[2019-04-14 16:48] ThomasKranitsas commented on #39
Contest https://www.topcoder.com/challenges/30088551 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 17:16] iversonLv opened #41 "[$40] Click More, show submenu, there is no height for the submenu unless click specific sub menu item"
If default directly clicks more and select an item, the submenu height is invisible.

[![Screenshot from Gyazo](https://gyazo.com/50baf48302c93adc5cb593d017c8b5a1/raw)](https://gyazo.com/50baf48302c93adc5cb593d017c8b5a1)

[2019-04-14 17:19] ThomasKranitsas commented on #41
Contest https://www.topcoder.com/challenges/30088552 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 17:19] ThomasKranitsas commented on #41
Contest https://www.topcoder.com/challenges/30088552 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 17:20] ThomasKranitsas commented on #41
Contest https://www.topcoder.com/challenges/30088552 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 17:27] iversonLv opened #42 "[$30] More navigation arrow won't dismiss if resize page to desktop size"
Don't know whether we will resize page between mobile and desktop.
If yes after selected MORE at mobile, resize to desktop view, the arrow should dismiss
[![Screenshot from Gyazo](https://gyazo.com/ecafb67249e778bdd88b6ffa59a72265/raw)](https://gyazo.com/ecafb67249e778bdd88b6ffa59a72265)

[2019-04-14 17:30] gets0ul commented on #36
@ThomasKranitsas
Similar? So we will hide sub navigation item(s) if needed in order to not break the layout.
Is that correct?

[2019-04-14 18:52] ThomasKranitsas commented on #36
Correct

[2019-04-14 18:54] #39 closed

[2019-04-14 18:55] ThomasKranitsas commented on #39
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088551<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 18:55] ThomasKranitsas commented on #42
Only fix the issue with the  `MORE` section which stays selected even if `MORE` is not visible

[2019-04-14 18:58] ThomasKranitsas commented on #42
Contest https://www.topcoder.com/challenges/30088553 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 18:58] ThomasKranitsas commented on #42
Contest https://www.topcoder.com/challenges/30088553 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 18:59] ThomasKranitsas commented on #42
Contest https://www.topcoder.com/challenges/30088553 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 18:59] iversonLv commented on #42
**the MORE section which stays selected even if MORE is not visible**
-- Not clear, do you mean mobile stays selected during desktop MORE is not visible?
Below is my solution, is it correct?
If at mobile, MORE is selected, resize to Desktop view, the arrow will disappear as desktop there is no level-1 MORE navigation item.
Then resize back to mobile view, MORE will be selected again.
[![Screenshot

[2019-04-14 19:00] ThomasKranitsas commented on #42
What you did is what I meant ;)

Thanks!

[2019-04-14 19:48] #42 closed

[2019-04-14 19:49] #36 closed

[2019-04-14 19:49] ThomasKranitsas commented on #42
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088553<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 19:49] ThomasKranitsas commented on #36
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088549<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 19:55] iversonLv opened #45 "[$30] Space for primary navigation BUSINESS, WORK should equal"
Do you want to update it?

Because we update the navigation after #3

Current:
![image](https://user-images.githubusercontent.com/4952611/56098327-f29e2f00-5f31-11e9-8fc2-7689ca628d85.png)

Expected:
![image](https://user-images.githubusercontent.com/4952611/56098347-2f6a2600-5f32-11e9-9ffc-48fbbb40107a.png)

[2019-04-14 19:57] iversonLv commented on #45
@PrakashDurlabhji I think I assigned first.
Thanks.

[2019-04-14 19:58] PrakashDurlabhji commented on #45
it was 1 sec difference.

[2019-04-14 19:59] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30088555 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 19:59] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30088555 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 19:59] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30088555 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 20:00] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30088555 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 20:00] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30088555 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 20:07] #45 closed

[2019-04-14 20:08] ThomasKranitsas commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088555<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-14 20:10] iversonLv opened #47 "Submenu more item margin/padding left are different from other submenu items"
Don't know whether is the purpose or not as I check the CSS it's set !important for more item margin left.

Maybe because it's more item not a NORMAL submenu, so less margin for it.

Anyway, log here, if it's purpose just directly close the ticket.

![image](https://user-images.githubusercontent.com/4952611/56098554-034fa480-5f34-11e9-98b3-e739461a0dc2.png)

Thanks.

[2019-04-14 20:11] iversonLv commented on #47
At smaller viewport, it's 10px v.s. others 20px

[2019-04-14 20:28] iversonLv commented on #47
Associated issue:
Submenu more button padding are different
Triple menu more button has an equal left/right padding
But the secondary menu more button has 0 left padding

Secondary menu
![image](https://user-images.githubusercontent.com/4952611/56098745-29764400-5f36-11e9-9958-8b7fdced1cac.png)

Triple menu
![image](https://user-images.githubusercontent.com/4952611/56098741-1b282800-5f36-11e9-986d

[2019-04-15 02:48] nahidshahin commented on #41
@ThomasKranitsas PR https://github.com/topcoder-platform/community-nav-prototype/pull/48

[2019-04-15 04:37] #41 closed

[2019-04-15 04:38] ThomasKranitsas commented on #41
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088552<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-15 16:37] rashmi73 commented on #35
@ThomasKranitsas actively working

[2019-04-15 18:18] vic-topcoder opened #49 "[$60] Use SVG as inline SVG vs. IMG"
**Describe the bug**
The navigation uses a SVG cutout shape to indicate the current selected item and provide a transition to the background. This could be the page background with different colors, or secondary menu with two color schemes. As is, the code uses `<img />` element. This makes it impossible to dynamically match the color of the background/element.
<img width="113" alt="Screen Shot 20

[2019-04-15 18:26] vic-topcoder opened #50 "Navigation transitions for switching between main sections"
**Describe the bug**
At the moment when you click on the main sections - BUSINESS/WORK - the navigation doesn't provide any transitions and it is visually jumping.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main'
2. Click on 'WORK'
3. Click on 'BUSINESS'
4. Click on 'WORK'

**Expected behavior**
Each section should slide from right to left to cover the previous section to present

[2019-04-15 19:42] vic-topcoder opened #51 "User drop-down hover state"
**Describe the bug**
The hover state is still not to spec. I think there was miscommunication. Do not change the content of the user menu drop-down on hover only, adding the title. The content should stay the same, just add the correct hover and active states.

**Expected behavior**
Let's implement the correct states for the user menu. Depending on the viewport width the user handle can be shown o

[2019-04-15 19:44] vic-topcoder commented on #51
Also - the color of the hover/active state is not to speck. Use the "handoff" feature from here https://marvelapp.com/89423f8/screen/54465717

[2019-04-15 19:51] vic-topcoder opened #52 "[$50] More dropdown spacing and style"
**Describe the bug**
The dropdown More on small width viewports is not styled correctly (padding issues), and the available space is too much - maybe we can increase the space for active elements displayed.

At smaller screen the spacing between elements is reduced to 20px from 30. Please check the specification.

<img width="828" alt="Screen Shot 2019-04-15 at 12 50 44 PM" src="https://user-image

[2019-04-15 19:54] vic-topcoder opened #53 "[$30] Selected item under More wrong menu pointer."
**Describe the bug**
When the user selects an item that is collapsed under More menu, the second menu pointer is moving to a different location. Not sure if the menu content is loaded as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Reduce the width of your browser until you have More
2. Click on More
3. Select a menu item
4. See error

<img width="837" alt="Screen Shot 2019-04-15 at

[2019-04-15 22:15] rashmi73 commented on #35
@ThomasKranitsas please check https://github.com/topcoder-platform/community-nav-prototype/pull/54

[2019-04-16 10:35] iversonLv commented on #52
Related with #47

[2019-04-16 15:05] #35 closed

[2019-04-16 15:05] ThomasKranitsas commented on #35
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088548<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:02] ThomasKranitsas commented on #53
Contest https://www.topcoder.com/challenges/30088636 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:02] ThomasKranitsas commented on #53
Contest https://www.topcoder.com/challenges/30088636 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #47
closing this one. Will track the issue in #52

[2019-04-16 16:03] #47 closed

[2019-04-16 16:03] ThomasKranitsas commented on #51
Contest https://www.topcoder.com/challenges/30088638 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #51
Contest https://www.topcoder.com/challenges/30088638 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30088639 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:03] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30088639 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:04] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30088640 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:04] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30088640 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:08] ThomasKranitsas commented on #51
Contest https://www.topcoder.com/challenges/30088638 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:11] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30088639 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:11] ThomasKranitsas commented on #53
Contest https://www.topcoder.com/challenges/30088636 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:12] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30088640 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:14] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-16 16:16] sumitdaga commented on #53
@ThomasKranitsas  @vic-topcoder
i cannot reproduce this issue
does this happen on a particular browser

[2019-04-16 16:24] vic-topcoder commented on #53
Safari/Mac OS

[2019-04-16 18:14] sumitdaga commented on #53
@ThomasKranitsas @vic-topcoder
PR at #55

[2019-04-16 18:24] rashmi73 commented on #52
@ThomasKranitsas MR https://github.com/topcoder-platform/community-nav-prototype/pull/56

[2019-04-16 18:56] PrakashDurlabhji commented on #51
@ThomasKranitsas PR at https://github.com/topcoder-platform/community-nav-prototype/pull/57

[2019-04-17 07:38] ThomasKranitsas commented on #53
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 07:38] #53 closed

[2019-04-17 07:39] ThomasKranitsas commented on #53
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088636<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 07:44] #52 closed

[2019-04-17 07:44] ThomasKranitsas commented on #52
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088639<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 07:47] ThomasKranitsas commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088638<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 12:02] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30088640 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 12:10] gurmeetb commented on #50
@prasadadarkar30 if you are blocked, I can take this over?

[2019-04-17 12:52] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 12:52] prasadadarkar30 commented on #50
@gurmeetb i failed. you can try

[2019-04-17 12:52] gurmeetb commented on #50
Thanks @prasadadarkar30 - let me try how it goes

[2019-04-17 19:18] sumitdaga commented on #49
@ThomasKranitsas  @vic-topcoder
PR at #58
i am not sure if this is exactly what was needed, let me know!

[2019-04-18 05:44] gurmeetb commented on #50
@ThomasKranitsas FYI I have it partly working where the animation works fine now, one bug though the menu item is getting hidden, tracing it still what is causing it to do so.

[2019-04-18 09:02] #49 closed

[2019-04-18 09:02] ThomasKranitsas commented on #50
Thanks for the update

[2019-04-18 09:03] ThomasKranitsas commented on #49
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088640<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-18 17:01] ThomasKranitsas commented on #50
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-04-18 17:06] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 06:53] ThomasKranitsas commented on #50
@rashmi73 what's the status here?

[2019-04-20 12:31] rashmi73 commented on #50
@ThomasKranitsas if my understanding is correct then, when "WORK" is clicked given, "BUSINESS" is already seleted, then transition should happen as given video? corect? assuming that I am working on logic.

[2019-04-20 12:39] ThomasKranitsas commented on #50
@vic-topcoder can you please provide some info here to define what's required?

[2019-04-23 10:50] gurmeetb commented on #50
@rashmi73 if you are blocked, can you re-open this?

@ThomasKranitsas I would like to give a second try to fix the same.

[2019-04-23 12:29] ThomasKranitsas commented on #50
@rashmi73 please open this if you can't complete it

[2019-04-23 16:48] ThomasKranitsas commented on #50
Contest https://www.topcoder.com/challenges/30088637 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-24 08:57] gurmeetb commented on #50
@ThomasKranitsas opening it since not able to fix the icon pointer alignment, although Menu animation seems to work fine -  https://youtu.be/R-3zC5lzEo4

[2019-04-29 17:33] ThomasKranitsas opened #62 "Notifications component should have fixed height and the content should be scrollable"
**Describe the bug**
The notifications component should have a fixed height similar to when there are no notifications and the content should be scrollable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tc-unified-nav.herokuapp.com/light
2. Click on the notifications icon
3. See error

**Expected behavior**
The height should be fixed

**Screenshots**
<img width="1377" alt="Scr

[2019-04-29 17:35] ThomasKranitsas commented on #62
@topcoder-platform/topcodercompetitors this is open for pickup.

We will not use `tcx_` labels (except the `tcx_ReadyForReview` as there's currently an issue with Topcoder-X.

I'll be processing payments manually.

Prize: $20
PR on `develop`

[2019-04-29 17:36] gurmeetb commented on #62
@marioskranitsas looks like we clicked together assign myself, feel free to take it back.

[2019-04-29 17:36] ThomasKranitsas commented on #62
What a timing! 😃 You guys literally clicked on the exact same second.

[2019-04-29 17:39] gurmeetb commented on #62
@ThomasKranitsas looks like just a gap of 1-2 secs 😜

[2019-04-29 18:02] ThomasKranitsas opened #64 "Make the notification section headers sticky"
**Describe the feature**
We need the section headers of the notification component to be sticky like they are on the mobile.

**Devices:**
- Desktop
- Tablet

[2019-04-29 18:02] ThomasKranitsas commented on #64
@topcoder-platform/processors this is open for pickup.

We will not use `tcx_` labels (except the `tcx_ReadyForReview` as there's currently an issue with Topcoder-X.

I'll be processing payments manually.

Prize: $40
PR on `develop`

[2019-04-29 18:05] ThomasKranitsas commented on #64
seems like @applehit16 got it first

[2019-04-29 18:05] ThomasKranitsas commented on #64
thanks @rashmi73

[2019-04-29 18:06] rashmi73 commented on #64
@ThomasKranitsas yes 12 seconds earlier

[2019-04-29 18:07] ThomasKranitsas commented on #64
I'll be opening more tickets but feel free to open tickets for the notification component if you want and I'll open them for pickup

[2019-04-29 18:08] #62 closed

[2019-04-29 18:12] ThomasKranitsas opened #65 "Mobile - The link to open the notifications is not clickable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tc-unified-nav.herokuapp.com/light
2. Click on the user dropdown
3. Try to click on `Notifications`
4. See error

**Expected behavior**
The whole row should be clickable

**Screenshots**
<img width="561" alt="Screenshot 2019-04-29 at 21 09 48" src="https://us

[2019-04-29 18:12] ThomasKranitsas commented on #65
@topcoder-platform/topcodercompetitors  this is open for pickup.

We will not use `tcx_` labels (except the `tcx_ReadyForReview` as there's currently an issue with Topcoder-X.

I'll be processing payments manually.

Prize: $30
PR on `develop`

[2019-04-29 18:26] #65 closed

[2019-04-29 21:20] ThomasKranitsas opened #67 "Notification popup should be dismissed when clicking the icon"
**Describe the bug**
Notification popup should be dismissed when clicking the icon while the popup is open.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tc-unified-nav.herokuapp.com/
2. Click on the notification icon
3. Click on the notification icon again to view the full notification component
4. Click on the notification icon again
5. See issue

**Expected behavior**
It s

[2019-04-29 21:20] ThomasKranitsas commented on #67
@topcoder-platform/topcodercompetitors  this is open for pickup.

We will not use `tcx_` labels (except the `tcx_ReadyForReview` as there's currently an issue with Topcoder-X.

I'll be processing payments manually.

Prize: $40
PR on `develop`

[2019-04-29 21:21] ThomasKranitsas commented on #67
We should actually loop the flow:
- Show empty > Show full > Close

[2019-04-29 21:30] #67 closed

[2019-04-30 01:56] applehit16 commented on #64
@ThomasKranitsas just want to mention that the mobile version is actually not working either, it just fakes the first header to be sticky
![Apr-29-2019 18-50-43](https://user-images.githubusercontent.com/48845164/56937115-df519e80-6aaf-11e9-9182-f2801e8fadea.gif)

The notification is clickable on if you turn chrome devtool to be in mobile mode. But it seems not clickable in mobile. I'm using iphon

[2019-04-30 01:57] applehit16 commented on #64
I was looking for position detection code, but couldn't find it and then realized the first sticky is hard-coded 😂

[2019-04-30 07:11] ThomasKranitsas commented on #64
Can you please fix the mobile as well? I'll bump up the payment

[2019-04-30 07:12] liqiang372 commented on #64
@ThomasKranitsas will do, I probably need more time

[2019-04-30 07:13] applehit16 commented on #64
@ThomasKranitsas will do, I probably need more time

[2019-04-30 07:13] ThomasKranitsas commented on #64
Ok, please make sure you are only using one of your accounts 😉 Not everyone is aware of your situation and ppl may get confused.

Thanks!

[2019-04-30 08:08] #64 closed

[2019-04-30 08:15] ThomasKranitsas opened #70 "Notification header on mobile does not match the spec"
**Expected behavior**
Should match the spec

**Screenshots**
![Image 2019-04-24 11-28-41](https://user-images.githubusercontent.com/4612921/56948582-394a7680-6b39-11e9-9d75-c7e201c7b584.png)

**Devices:**
- Mobile

[2019-04-30 08:17] ThomasKranitsas commented on #70
@topcoder-platform/topcodercompetitors this is open for pickup

Prize: $20
PR on `develop`

[2019-04-30 08:18] ThomasKranitsas commented on #70
2sec difference 😛

[2019-04-30 08:19] ThomasKranitsas opened #71 "Notification dismiss tooltip is not showing properly"
**Describe the bug**
Because of the `overflow: scroll` property, the notification dismiss (x) tooltip is not showing up properly.

**Screenshots**
<img width="1332" alt="Screenshot 2019-04-30 at 11 18 37" src="https://user-images.githubusercontent.com/4612921/56948772-d5747d80-6b39-11e9-8f1f-1796312c74a6.png">

**Devices:**
- Desktop
- Tablet

[2019-04-30 08:20] ThomasKranitsas commented on #71
@topcoder-platform/topcodercompetitors this is open for pickup

Prize: $20
PR on `develop`

[2019-04-30 08:21] nahidshahin commented on #70
How do you guys compete on second level? Do you have any bot written?  Before even get email notification of "open for pickup".

[2019-04-30 08:21] sumitdaga commented on #71
not this time :)

[2019-04-30 08:22] ThomasKranitsas commented on #70
@nahidshahin you can `watch` the repo and receive an email right when I open new tickets 😉You can then just wait for me to open it for pickup.

[2019-04-30 08:22] ThomasKranitsas commented on #71
That was fast! 🚀

[2019-04-30 08:23] nahidshahin commented on #70
@ThomasKranitsas that's what exactly I'm doing 😉 But people are too fast

[2019-04-30 08:24] ThomasKranitsas commented on #70
Yeah, I'm very surprised and happy at the same time! More tickets coming soon. Stay tuned!

[2019-04-30 08:26] nahidshahin commented on #70
@ThomasKranitsas  Just one request, please open good amount of issues at once.

[2019-04-30 08:35] ThomasKranitsas opened #73 "Notification card size is not correct"
**Describe the bug**
There seems to be more padding than needed.

**Expected behavior**

![Image 2019-04-24 11-34-42](https://user-images.githubusercontent.com/4612921/56949571-f5a53c00-6b3b-11e9-8d86-fa1767d3b659.png)

**Screenshots**
![Image 2019-04-24 11-35-08](https://user-images.githubusercontent.com/4612921/56949573-f8a02c80-6b3b-11e9-99a3-c187101a576d.png)

**Devices:**
- Desktop
- Tablet

[2019-04-30 08:35] ThomasKranitsas commented on #73
@topcoder-platform/topcodercompetitors open for pickup

Prize: $20
PR on `develop`

[2019-04-30 08:36] #70 closed

[2019-04-30 08:38] applehit16 commented on #73
Ha, I guess using mobile doesn’t even stand a chance to win

[2019-04-30 08:40] sumitdaga commented on #71
`overflow-x: visible;`
`overflow-y: auto/scroll;`

will not work https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue/6433475#6433475

[2019-04-30 08:40] ThomasKranitsas commented on #71
what do you suggest?

[2019-04-30 08:42] gurmeetb commented on #1
@ThomasKranitsas to be fair to all, can we accumulate few tickets and open all tickets at once?

[2019-04-30 08:47] ThomasKranitsas commented on #1
Sure, I can do that.

[2019-04-30 08:49] ThomasKranitsas opened #74 "Issue when clicking the user dropdown on mobile"
**Describe the bug**
See here https://take.ms/dHgK3 https://take.ms/BKJZd
Seems like something is wrong on how we're handling the events.

**Devices:**
- Mobile

[2019-04-30 09:36] nahidshahin commented on #73
PR https://github.com/topcoder-platform/community-nav-prototype/pull/75

[2019-04-30 09:42] sumitdaga commented on #71
if i am not wrong, the only simple solution is to move the tooltip to the left :)

[2019-04-30 11:14] ThomasKranitsas commented on #74
@topcoder-platform/topcodercompetitors open for pickup

Prize: $40
PR on `develop`

[2019-04-30 11:15] ThomasKranitsas commented on #1
I don't have any other tickets right now but I'll merge new code later today so I'll probably open a couple more.

[2019-04-30 11:18] #73 closed

[2019-04-30 11:19] ThomasKranitsas commented on #71
Ok, let's push the tooltip a bit to the left.

[2019-04-30 11:32] #71 closed

[2019-04-30 11:35] #74 closed

[2019-04-30 12:44] sushilshinde opened #78 "A scrollbar is outside the scrolling container"
A scrollbar is outside the scrolling container

![Topcoder 2019-04-30 18-09-54](https://user-images.githubusercontent.com/683231/56962315-dcb87d00-6b73-11e9-935d-09dd174d925d.png)

[2019-04-30 12:49] ThomasKranitsas commented on #78
@topcoder-platform/topcodercompetitors open for pickup

Prize: $40
PR on `develop`

Requirement:
- The header should be fixed at the top and only the content should be scrollable with sticky section headers.

[2019-04-30 13:38] #78 closed

[2019-05-01 06:20] #50 closed

[2019-05-02 02:01] vic-topcoder opened #81 "[$20] Notifications panel bottom rounded corner missing"
**Describe the bug**
The bottom rounded corners of the notifications panel (with content) is not rounded. It should have the `overflow: hidden` to prevent border radius from being distorted from content loaded.

*observed*
<img width="526" alt="Screen Shot 2019-05-01 at 6 58 08 PM" src="https://user-images.githubusercontent.com/8484061/57053515-6a16d280-6c43-11e9-9c23-986c1f9e20f8.png">

*expected

[2019-05-02 02:03] vic-topcoder opened #82 "[$20] Notification bell hover/active state is not up to visual specification"
**Describe the bug**
The hover/active state calls for background change similar to the user drop-down. This is missing currently. Specification here: https://marvelapp.com/89423f8/screen/55812230
<img width="461" alt="Screen Shot 2019-05-01 at 7 02 31 PM" src="https://user-images.githubusercontent.com/8484061/57053572-c7ab1f00-6c43-11e9-9d55-dcbba331d7ca.png">

[2019-05-02 02:07] vic-topcoder opened #83 "[$70] Notification message should be wrapped in a link"
**Describe the bug**
When the notification messages are implemented, they should be wrapped in a link. The goal is to click on the notification and to load the target page. At the moment only the close icon is actionable (link). We must refactor the HTML structure so that content of the notification, wrapped in a link, doesn't conflict with the dismiss icon.

<img width="510" alt="Screen Shot 2019

[2019-05-02 02:09] vic-topcoder commented on #83
As a secondary effect, all content of the notification shouldn't be user selectable.

[2019-05-02 14:34] ThomasKranitsas commented on #83
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-05-02 14:34] ThomasKranitsas commented on #83
PR on `develop`

[2019-05-02 14:37] ThomasKranitsas commented on #81
PR on `develop`

[2019-05-02 14:37] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30089877 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:38] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30089877 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:38] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30089877 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:42] ThomasKranitsas commented on #81
[500]: Challenge for the updated issue 81 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:42] ThomasKranitsas commented on #81
[500]: Challenge for the updated issue 81 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:43] PrakashDurlabhji commented on #82
@ThomasKranitsas is it open for pickup?

[2019-05-02 14:43] ThomasKranitsas commented on #81
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:43] ThomasKranitsas commented on #81
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:45] ThomasKranitsas commented on #82
it is now

[2019-05-02 14:45] ThomasKranitsas commented on #82
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-02 14:45] ThomasKranitsas commented on #81
Contest https://www.topcoder.com/challenges/30089882 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:49] ThomasKranitsas commented on #81
Contest https://www.topcoder.com/challenges/30089882 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:49] #81 closed

[2019-05-02 14:50] ThomasKranitsas commented on #81
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30089882<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:52] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:52] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:52] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:52] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:53] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:54] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:54] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:54] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:54] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:54] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:55] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 14:55] ThomasKranitsas commented on #82
[500]: Challenge for the updated issue 82 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 15:12] sumitdaga commented on #83
@ThomasKranitsas
on mobile the notifications panel does not show ? is this a know issue

[2019-05-02 15:15] ThomasKranitsas commented on #83
Hmm... I guess this was broken in the previous challenge. Can you please fix it? I'll bump up the prize here a bit for the extra effort

[2019-05-02 15:15] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30089877 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 15:25] sumitdaga commented on #83
@ThomasKranitsas
should it open when only click on the right arrow (which is how it worked when it worked i think) or the whole row?

[2019-05-02 15:28] ThomasKranitsas commented on #83
whole row

[2019-05-02 15:45] sumitdaga commented on #83
also just FYI, somebody has used `jquery` (which if i remember correctly was not allowed) and included it in the above the head element because of which it fails the W3C validator test (which is how i found out)

[2019-05-02 15:52] ThomasKranitsas commented on #83
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 15:52] #83 closed

[2019-05-02 15:52] ThomasKranitsas commented on #83
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30089877<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 17:16] vic-topcoder opened #86 "[$80] Notification panel text spacing is not up to visual specification"
**Describe the bug**
The spacing of elements on the panel is not up to the design specification - please correct the margins/paddings according to the handoff on Marvel.

Superimposing the developed version and the design clearly shows the spacing is off with around 10px around.

<img width="917" alt="Screen Shot 2019-05-02 at 10 13 27 AM" src="https://user-images.githubusercontent.com/8484061/570

[2019-05-02 17:51] ThomasKranitsas opened #87 "[$15] Notification popup should expand to cover 70% of the screen"
We should set the `max-height` of the notification popup to `70vh` so it'll expand if there are more notifications and there is enough space in the screen.

[2019-05-02 19:41] PrakashDurlabhji commented on #82
@ThomasKranitsas PR https://github.com/topcoder-platform/community-nav-prototype/pull/88

[2019-05-02 19:50] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 19:50] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 19:51] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-02 19:51] ThomasKranitsas commented on #82
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 10:10] ThomasKranitsas commented on #82
Contest https://www.topcoder.com/challenges/30090142 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:12] ThomasKranitsas commented on #82
Contest https://www.topcoder.com/challenges/30090142 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:12] #82 closed

[2019-05-04 12:12] ThomasKranitsas commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090142<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:21] ThomasKranitsas commented on #87
@topcoder-platform/topcodercompetitors open for pickup
PR on `develop`

Only make this change for desktop/tablet screen sizes.

[2019-05-04 12:21] ThomasKranitsas commented on #86
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-04 12:21] ThomasKranitsas commented on #87
Contest https://www.topcoder.com/challenges/30090146 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:21] ThomasKranitsas commented on #87
Contest https://www.topcoder.com/challenges/30090146 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:21] ThomasKranitsas commented on #86
PR on `develop`

[2019-05-04 12:22] ThomasKranitsas commented on #86
Contest https://www.topcoder.com/challenges/30090147 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:22] ThomasKranitsas commented on #86
Contest https://www.topcoder.com/challenges/30090147 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:23] ThomasKranitsas commented on #87
Contest https://www.topcoder.com/challenges/30090146 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:23] ThomasKranitsas opened #91 "[$20] Remove flaticon text from settings"
**Describe the bug**
Remove flaticon text from settings page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tc-unified-nav.herokuapp.com/settings
2. Scroll down to the bottom
3. See flaticon text

**Screenshots**
<img width="1528" alt="Screenshot 2019-05-04 at 15 22 00" src="https://user-images.githubusercontent.com/4612921/57178918-7045c280-6e80-11e9-8999-c12d5071fd06.png">

[2019-05-04 12:23] ThomasKranitsas commented on #91
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-05-04 12:23] ThomasKranitsas commented on #86
Contest https://www.topcoder.com/challenges/30090147 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:23] ThomasKranitsas commented on #91
PR on `develop`

[2019-05-04 12:24] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30090148 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:24] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30090148 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:24] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30090148 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:25] rashmi73 commented on #91
@nahidshahin i took it

[2019-05-04 12:25] ThomasKranitsas opened #92 "[$20] Toggle text is off-center vertically"
**Describe the bug**
Toggle text is off-center vertically

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tc-unified-nav.herokuapp.com/setting
2. See error

**Expected behavior**
The `on/off` text should be vertically centered.

**Screenshots**
<img width="761" alt="Screenshot 2019-05-04 at 15 24 28" src="https://user-images.githubusercontent.com/4612921/57178948-d9c5d100-6e80-

[2019-05-04 12:25] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30090148 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:26] ThomasKranitsas commented on #92
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-04 12:26] ThomasKranitsas commented on #92
PR on `develop`

[2019-05-04 12:27] ThomasKranitsas commented on #92
Contest https://www.topcoder.com/challenges/30090149 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:28] ThomasKranitsas commented on #92
Contest https://www.topcoder.com/challenges/30090149 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:28] ThomasKranitsas commented on #92
Contest https://www.topcoder.com/challenges/30090149 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:35] sumitdaga commented on #87
btw why does it not cover full height on mobile
![Selection_153](https://user-images.githubusercontent.com/7769148/57179060-3207cd80-6e97-11e9-993b-e2b6a59006aa.png)

[2019-05-04 12:36] ThomasKranitsas commented on #87
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 12:37] #87 closed

[2019-05-04 12:38] ThomasKranitsas commented on #87
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090146<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 13:36] ThomasKranitsas commented on #86
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 13:37] #86 closed

[2019-05-04 13:37] ThomasKranitsas commented on #86
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090147<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-04 21:04] PrakashDurlabhji commented on #92
@ThomasKranitsas PR https://github.com/topcoder-platform/community-nav-prototype/pull/95

[2019-05-04 21:16] rashmi73 commented on #91
@ThomasKranitsas it is ready https://github.com/topcoder-platform/community-nav-prototype/pull/96

[2019-05-05 10:00] #91 closed

[2019-05-05 10:01] ThomasKranitsas commented on #91
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090148<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-05 10:03] #92 closed

[2019-05-05 10:04] ThomasKranitsas commented on #92
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090149<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-08 18:38] rashmi73 commented on #91
@ThomasKranitsas can you please check once, as it is not yet reflected in my pacts yet. all others are reflecting but not this one.

[2019-05-08 18:41] ThomasKranitsas commented on #91
It's showing up as `Paid`. Can you please send an email at support@topcoder.com?
You can provide this URL https://software.topcoder.com/review/actions/ViewProjectPayments?pid=30090148

[2019-05-08 18:45] rashmi73 commented on #91
@ThomasKranitsas I think it may get added to pacts later as it is just 3 days as of now, whereas all other issues are approx 20 days before, so i will for more 4 days and see if it is reflected or else then I  will mail to support. Thanks